.home-container {
    width: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container h1 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(96, 95, 95);
    padding: 2rem;
}

.inner-home-container{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inner-home-container a {
    text-decoration: none;
    color: black;
    background-color: #feefc3;
    color: rgb(31, 31, 31);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.inner-home-container a:hover {
    background-color: #fbe5a5;
}